**/__pycache__/
**/build/
**/zig-out/
**/hid_disp-backups/
ecad/usbkvm/grb/*
ecad/usbkvm/bom/*
*.FCBak
ecad/usbkvm/_autosave-*
ecad/usbkvm/~*
ecad/usbkvm/DRC.rpt
ecad/usbkvm/temp_kicad_lib
.zig-cache
code/old

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
code/ucode/folder_bin.c
code/guihost/SDL3
